<!-- ko with: home -->
@using Microsoft.AspNet.Identity
<style>
    #Event {
        height: 70px;
        width: 70px;
    }

        #Event:hover {
            content: url('../content/img/event2.png');
            height: 70px;
            width: 70px;
        }

    #Document {
        height: 70px;
        width: 70px;
    }

        #Document:hover {
            content: url('../content/img/document2.png');
            height: 70px;
            width: 70px;
        }

    #Task {
        height: 70px;
        width: 70px;
    }

        #Task:hover {
            content: url('../content/img/task2.png');
            height: 70px;
            width: 70px;
        }

    #Expense {
        height: 70px;
        width: 70px;
    }

        #Expense:hover {
            content: url('../content/img/expense2.png');
            height: 70px;
            width: 70px;
        }

    #Invoice {
        height: 70px;
        width: 70px;
    }

        #Invoice:hover {
            content: url('../content/img/invoice2.png');
            height: 70px;
            width: 70px;
        }

    #Contact {
        height: 70px;
        width: 70px;
    }

        #Contact:hover {
            content: url('../content/img/contact2.png');
            height: 70px;
            width: 70px;
        }

    #Case {
        height: 70px;
        width: 70px;
    }

        #Case:hover {
            content: url('../content/img/case2.png');
            height: 70px;
            width: 70px;
        }

    #Message {
        height: 70px;
        width: 70px;
    }

        #Message:hover {
            content: url('../content/img/message2.png');
            height: 70px;
            width: 70px;
        }

    #Time {
        height: 70px;
        width: 70px;
    }

        #Time:hover {
            content: url('../content/img/time2.png');
            height: 70px;
            width: 70px;
        }

    #Note {
        height: 70px;
        width: 70px;
    }

        #Note:hover {
            content: url('../content/img/note2.png');
            height: 70px;
            width: 70px;
        }
</style>

<div class="jumbotron">
    <h1>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })</h1>
    <p class="lead">ethko is a free web application for lawyers.</p>
    @Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)
    <p data-bind="text: myHometown"></p>
</div>
<div class="row">


    <h2>Add Item</h2>
    <a class="btn btn-default" href="#"><img src="../content/img/event.png" id="Event">  <br />Add Event</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/document.png" id="Document">  <br />Add Document</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/task.png" id="Task">  <br />Add Task</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/expense.png" id="Expense">  <br />Add Expense</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/invoice.png" id="Invoice">  <br />Add Invoice</a>&nbsp;
    <a class="btn btn-default" href='@Url.Action("AddContact", "Contacts")'><img src="../content/img/contact.png" id="Contact">  <br />Add Contact</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/case.png" id="Case">  <br />Add Case</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/message.png" id="Message">  <br />New Message</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/time.png" id="Time">  <br />Add Time Entry</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/note.png" id="Note">  <br />Add Note</a>


</div>
<!-- /ko -->
